#contact {
  width: 100%;
  min-height: 100vh;
  padding: 50px 0;
  background: #fdfdfd;
}

.contact-container {
  max-width: 1200px;
  margin-left: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-title {
  text-align: center;
  margin-bottom: 30px;
}

.contact-title h2 {
  color: #0a2a3a;
  /* border-bottom: 3px solid #0e1112; */
  font-size: 32px;
  font-weight: 600;
}

.contact-title p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.6;
  color: #3e3e3e;
}

.form {

  min-width: 800px;
  margin-top: 80px;
}

form {

  padding: 30px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-group {
  flex: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
}

.form-group label {
  font-size: 16px;
  color: #3e3e3e;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.submit {
  align-self: flex-start;
  padding: 12px 24px;
  background: #0a2a3a;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submit:hover {
  background: #084a61;
}

@media (max-width: 1400px) {
  .contact-container{
    margin-left: 0px;
  }
  .row {
    flex-direction: column;
  }
  .form{
    min-width: 95%;
  }
  .contact-title h2 {
    font-size: 24px;
  }

  .contact-title p {
    font-size: 14px;
  }
}

/* @media (max-width: 480px) {
  .contact-container{
    margin-left: 0;
  }
  .form {
    min-width: 400px;
  }

  .form-group input,
  .form-group textarea {
    font-size: 14px;
  }

  .submit {
    width: 100%;
    text-align: center;
  }
} */
